@media(max-width: 425px) {

    .card {
        max-width: 20.5rem;
    }

    .card .content .img-container {
        display: flex;
        justify-content: center;
        border-radius: 12px;
        overflow: hidden;
    }

    .card .content .topic {
        font-size: .75rem;
        width: 4.5rem;
        padding: 6px;
    }

    .card .content span {
        font-size: .75rem;
    }

    .card .content .text h1 a {
        font-size: 1.25rem;
    }

    .card .content p {
        font-size: .85rem;
        line-height: 1.4rem;
    }
}